<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

        <title>Portal for Farmers</title>

        <!-- Bootstrap Core CSS -->

        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
		<link rel="stylesheet" href="../css/patros.css" >
        
        <script>
				CKEDITOR.replace( 'des' );
				</script>
		
	</head>

	<body data-spy="scroll">
			
		<script type="text/javascript">
			// function googleTranslateElementInit() {
			// 	new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
			// }
			function googleTranslateElementInit() {
					new google.translate.TranslateElement({pageLanguage: 'en', 
					layout: google.translate.TranslateElement.InlineLayout.SIMPLE },
					'google_translate_element');
			}
			</script>
			
			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
		
			<script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><span id="logotitle">FarmNet</span></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right custom-menu">
						<li><a href="/admin/">Home</a></li>
						<li><a href="/admin/addofficial">Official</a></li>
						<li><a href="/expert/addexpert">Expert</a></li>
						<li><a href="/admin/logout">Log out</a></li>
						<li><div id="google_translate_element" style="text-align:right"></div></li>
		
					</ul>
				</div>
			</div>
		</nav>

		<!-- Page Content -->
		<section class="container blog">
			<div class="row">
                <div class="col-md-8">
		            <h1 class="page-header sidebar-title">
		                Posts
					</h1>
					<% for(var i in post){ %>
		            <!-- First Blog Post -->
		            <div class="row blogu">
		                <div class="col-sm-4 col-md-4 ">
		                    <div class="blog-thumb">
		                        <a href="/admin/detail">
		                            <img class="img-responsive" src="./uploads/<%= post[i].image %>" alt="photo">
		                        </a>
		                    </div>
		                </div>
		                <div class="col-sm-8 col-md-8">
		                    <h2 class="blog-title">
		                        <a href="/admin/detail/<%= post[i].title %>"><%= post[i].title %></a>
							</h2>
							
		                    <p><i class="fa fa-calendar-o"></i> <%= post[i].date %> 
		                        <span class="comments-padding"></span><br>
								<i class="fa fa-comment"></i> 0 comments<br>
								<button class ="button btn-default" onclick="myFunction()" style="border-radius: 50%;"><i class="fa fa-heart"></i></button>
								<button class ="button btn-default" onclick="location.href = '/admin/delete/<%= post.title %>';" style="height: 40px;width:40px;font-size:20px; border-radius: 50%;background-color:darkgreen;color: ivory"><i class="fa fa-trash-o"></i></button>
							</p>
							<p><b>type	:</b><%= post[i].type %></p>
								
		                </div>
		            </div>
					<hr>
					<%}%>
		       
            </div>
        </section>
		<footer id="footer">
			<div class="container">
				<div class="row myfooter">
					<div class="col-sm-6"><div class="pull-left">
					© Copyright Company 2019 | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
					</div></div>
					<div class="col-sm-6">
						<div class="pull-right">Designed by <a href="#">Aggregators</a></div>
					</div>
				</div>
			</div>
		</footer>


        <!-- jQuery -->
        <script src="../js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

		<script>
				function myFunction()
				{
					var button = document.querySelector('.button');
					button.onclick = function () {
					this.style.backgroundColor = "red";
					this.style.color="white";
					};

				}
				function myfuntion1()
				{
					
				}
			</script>
        <!--Jquery Smooth Scrolling-->
        <script>
            $(document).ready(function(){
                $('.custom-menu a[href^="#"], .intro-scroller .inner-link').on('click',function (e) {
                    e.preventDefault();

                    var target = this.hash;
                    var $target = $(target);

                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, 900, 'swing', function () {
                        window.location.hash = target;
                    });
                });

                $('a.page-scroll').bind('click', function(event) {
                    var $anchor = $(this);
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1500, 'easeInOutExpo');
                    event.preventDefault();
                });

               $(".nav a").on("click", function(){
                     $(".nav").find(".active").removeClass("active");
                    $(this).parent().addClass("active");
            	});

                $('body').append('<div id="toTop" class="btn btn-primary color1"><span class="glyphicon glyphicon-chevron-up"></span></div>');
                    $(window).scroll(function () {
                        if ($(this).scrollTop() != 0) {
                            $('#toTop').fadeIn();
                        } else {
                            $('#toTop').fadeOut();
                        }
                    }); 
                $('#toTop').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 700);
                    return false;
                });

            });
        </script>

    </body>
</html>